Repository zazazaza4/3Books: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:editorconfig && npm run lint:fs, npm run prettify, npm run lint:shared:js, npm run lint:client:js, npm run lint:client:css, npm run lint:server:js

.lintstagedrc.yml:

'*': npm run lint:editorconfig && npm run lint:fs
'*.{js,jsx,scss,json,md,html}': npm run prettify
shared/**/*.js: npm run lint:shared:js
client/src/**/*.{js,jsx}: npm run lint:client:js
client/src/**/*.scss: npm run lint:client:css
server/**/*.js: npm run lint:server:js

books-2: * project prefix
  project.config.cjs
Due: npm run lint:editorconfig && npm run lint:fs

Update readme.md
  readme.md
Due: npm run lint:editorconfig && npm run lint:fs, npm run prettify

books-1: + variables for styles
  client/src/assets/css/variables.scss
Due: npm run lint:editorconfig && npm run lint:fs, npm run prettify, npm run lint:client:css

books-2: + mixins for styles
  client/src/assets/css/mixins.scss
Due: npm run lint:editorconfig && npm run lint:fs, npm run prettify, npm run lint:client:css

books-3: + breakpoint and common styles
  client/src/assets/css/breakpoint.scss
  client/src/assets/css/common.scss
  client/src/assets/css/styles.scss
Due: npm run lint:editorconfig && npm run lint:fs, npm run prettify, npm run lint:client:css

books-4: + iconNameToSvgIcon
  client/src/libs/components/icon/common.js
Due: npm run lint:editorconfig && npm run lint:fs, npm run prettify, npm run lint:client:js

books-4: + enums for icon
  client/src/libs/enums/components/icon-color.enum.js
  client/src/libs/enums/components/icon-name.enum.js
  client/src/libs/enums/components/icon-size.enum.js
Due: npm run lint:editorconfig && npm run lint:fs, npm run prettify, npm run lint:client:js

books-4: + icon component
  client/src/libs/components/icon/icon.jsx
Due: npm run lint:editorconfig && npm run lint:fs, npm run prettify, npm run lint:client:js

books-3: + additional icons
  client/src/libs/components/icon/common.js
Due: npm run lint:editorconfig && npm run lint:fs, npm run prettify, npm run lint:client:js

books-3: + additional icons
  client/src/libs/components/icon/common.js
  client/src/libs/enums/components/icon-name.enum.js
Due: npm run lint:editorconfig && npm run lint:fs, npm run prettify, npm run lint:client:js

books-2: + speed variable
  client/src/assets/css/variables.scss
Due: npm run lint:editorconfig && npm run lint:fs, npm run prettify, npm run lint:client:css

books-1: + hooks for header
  client/src/libs/components/header/libs/hooks/use-click-outside-handler/use-click-outside-handler.js
  client/src/libs/components/header/libs/hooks/use-header-visibility/use-header-visibility.js
Due: npm run lint:editorconfig && npm run lint:fs, npm run prettify, npm run lint:client:js

books-1: * header component
  client/src/libs/components/header/header.jsx
Due: npm run lint:editorconfig && npm run lint:fs, npm run prettify, npm run lint:client:js

books-1: + header styles
  client/src/libs/components/header/styles.module.scss
Due: npm run lint:editorconfig && npm run lint:fs, npm run prettify, npm run lint:client:css

books-1: + DropdownItem component for header
  client/src/libs/components/header/components/dropdown-item/dropdown-item.jsx
  client/src/libs/components/header/components/dropdown-item/styles.module.scss
Due: npm run lint:editorconfig && npm run lint:fs, npm run prettify, npm run lint:client:js, npm run lint:client:css

books-0: + Conventions for Development Workflow
  readme.md
Due: npm run lint:editorconfig && npm run lint:fs, npm run prettify

books-4: + button component
  client/src/libs/components/button/button.jsx
  client/src/libs/components/button/styles.module.scss
Due: npm run lint:editorconfig && npm run lint:fs, npm run prettify, npm run lint:client:js, npm run lint:client:css

books-4: + button enums
  client/src/libs/enums/components/button-color.enum.js
  client/src/libs/enums/components/button-size.enum.js
  client/src/libs/enums/components/button-type.enum.js
  client/src/libs/enums/components/components.js
  client/src/libs/enums/enums.js
Due: npm run lint:editorconfig && npm run lint:fs, npm run prettify, npm run lint:client:js

Merge branch 'main' of github.com:zazazaza4/3Books
  client/src/assets/css/breakpoint.scss
  client/src/assets/css/common.scss
  client/src/assets/css/mixins.scss
  client/src/assets/css/styles.scss
  client/src/assets/css/variables.scss
  client/src/libs/components/header/components/dropdown-item/dropdown-item.jsx
  client/src/libs/components/header/components/dropdown-item/styles.module.scss
  client/src/libs/components/header/header.jsx
  client/src/libs/components/header/libs/hooks/use-click-outside-handler/use-click-outside-handler.js
  client/src/libs/components/header/libs/hooks/use-header-visibility/use-header-visibility.js
  client/src/libs/components/header/styles.module.scss
  client/src/libs/components/icon/common.js
  client/src/libs/components/icon/icon.jsx
  client/src/libs/enums/components/icon-color.enum.js
  client/src/libs/enums/components/icon-name.enum.js
  client/src/libs/enums/components/icon-size.enum.js
  readme.md
Due: npm run lint:editorconfig && npm run lint:fs, npm run prettify, npm run lint:client:js, npm run lint:client:css

books-5: + input component
  client/src/libs/components/input/input.jsx
  client/src/libs/components/input/styles.module.scss
Due: npm run lint:editorconfig && npm run lint:fs, npm run prettify, npm run lint:client:js, npm run lint:client:css

books-6: + image component
  client/src/libs/components/image/image.jsx
Due: npm run lint:editorconfig && npm run lint:fs, npm run prettify, npm run lint:client:js

books-6: + styles for image component
  client/src/libs/components/image/styles.module.scss
Due: npm run lint:editorconfig && npm run lint:fs, npm run prettify, npm run lint:client:css

books-6: + enum size for image component
  client/src/libs/enums/components/image-size.enum.js
Due: npm run lint:editorconfig && npm run lint:fs, npm run prettify, npm run lint:client:js

books-7: + page-header bg
  client/src/assets/images/page-header-bg.jpg
Due: npm run lint:editorconfig && npm run lint:fs

books-0: + logo
  client/public/favicon.png
Due: npm run lint:editorconfig && npm run lint:fs

books-0: + margin for #main
  client/src/assets/css/common.scss
Due: npm run lint:editorconfig && npm run lint:fs, npm run prettify, npm run lint:client:css

books-0: + logo
  client/src/assets/images/logo.png
Due: npm run lint:editorconfig && npm run lint:fs

books-0: * icon
  client/index.html
Due: npm run lint:editorconfig && npm run lint:fs, npm run prettify

books-0: + additional routes
  client/src/libs/enums/app/app-route.enum.js
Due: npm run lint:editorconfig && npm run lint:fs, npm run prettify, npm run lint:client:js

books-8: + useAppForm hook
  client/src/libs/hooks/app-form/app-form.hook.js
  client/src/libs/hooks/hooks.js
Due: npm run lint:editorconfig && npm run lint:fs, npm run prettify, npm run lint:client:js

books-8: + UseFormMode
  client/src/libs/enums/enums.js
  client/src/libs/enums/form/form.js
  client/src/libs/enums/form/use-form-mode.enum.js
Due: npm run lint:editorconfig && npm run lint:fs, npm run prettify, npm run lint:client:js

books-9: + BookCarousel component
  client/src/libs/components/book-carousel/book-carousel.jsx
  client/src/libs/components/book-carousel/styles.module.scss
Due: npm run lint:editorconfig && npm run lint:fs, npm run prettify, npm run lint:client:js, npm run lint:client:css

books-9: + lib "swiper"
  client/package.json
  package-lock.json
Due: npm run lint:editorconfig && npm run lint:fs, npm run prettify

books-7: * additional routes
  client/src/libs/enums/app/app-route.enum.js
Due: npm run lint:editorconfig && npm run lint:fs, npm run prettify, npm run lint:client:js

books-7: + main margin
  client/src/assets/css/common.scss
Due: npm run lint:editorconfig && npm run lint:fs, npm run prettify, npm run lint:client:css

development: + swiper styles
  client/src/assets/css/styles.scss
  client/src/assets/css/swiper.min.css
Due: npm run lint:editorconfig && npm run lint:fs, npm run prettify, npm run lint:client:css

development: + logo
  client/src/assets/images/logo.png
Due: npm run lint:editorconfig && npm run lint:fs

development: + icon
  client/public/favicon.png
Due: npm run lint:editorconfig && npm run lint:fs

books-7: + CarouselSection component for Home page
  client/src/pages/home/components/carousel-section/carousel-section.jsx
  client/src/pages/home/components/carousel-section/styles.module.scss
Due: npm run lint:editorconfig && npm run lint:fs, npm run prettify, npm run lint:client:js, npm run lint:client:css

books-7: * file extension
  client/src/pages/home/components/carousel-section/carousel-section.jsx
Due: npm run lint:editorconfig && npm run lint:fs, npm run prettify, npm run lint:client:js
