Repository zazazaza4/3Books: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:editorconfig && npm run lint:fs, npm run prettify, npm run lint:shared:js, npm run lint:client:js, npm run lint:client:css, npm run lint:server:js

.lintstagedrc.yml:

'*': npm run lint:editorconfig && npm run lint:fs
'*.{js,jsx,scss,json,md,html}': npm run prettify
shared/**/*.js: npm run lint:shared:js
client/src/**/*.{js,jsx}: npm run lint:client:js
client/src/**/*.scss: npm run lint:client:css
server/**/*.js: npm run lint:server:js

books-7: + home page
  client/src/pages/home/home.jsx
  client/src/pages/home/styles.module.scss
Due: npm run lint:editorconfig && npm run lint:fs, npm run prettify, npm run lint:client:js, npm run lint:client:css

books-7: * fix styles
  client/src/libs/components/book-carousel/book-carousel.jsx
  client/src/libs/components/book-carousel/styles.scss
Due: npm run lint:editorconfig && npm run lint:fs, npm run prettify, npm run lint:client:js, npm run lint:client:css

development: + state and header
  client/src/pages/app/app.jsx
Due: npm run lint:editorconfig && npm run lint:fs, npm run prettify, npm run lint:client:js

books-10: + book card
  client/src/libs/components/book-card/book-card.jsx
  client/src/libs/components/book-card/styles.module.scss
Due: npm run lint:editorconfig && npm run lint:fs, npm run prettify, npm run lint:client:js, npm run lint:client:css

books-1: * z-index: 10
  client/src/libs/components/header/styles.module.scss
Due: npm run lint:editorconfig && npm run lint:fs, npm run prettify, npm run lint:client:css

development: * styles in input component
  client/src/libs/components/input/input.jsx
  client/src/libs/components/input/styles.module.scss
Due: npm run lint:editorconfig && npm run lint:fs, npm run prettify, npm run lint:client:js, npm run lint:client:css

books-11: + class ServerAppApi
  server/src/libs/packages/server-application/server-app-api.js
Due: npm run lint:editorconfig && npm run lint:fs, npm run prettify, npm run lint:server:js

books-12: + enum ApiPath
  shared/src/libs/enums/api-path.enum.js
Due: npm run lint:editorconfig && npm run lint:fs, npm run prettify, npm run lint:shared:js

books-12: + enum ExceptionMessage
  shared/src/libs/enums/exception-message.enum.js
Due: npm run lint:editorconfig && npm run lint:fs, npm run prettify, npm run lint:shared:js

books-12: + enum ExceptionName
  shared/src/libs/enums/exception-name.enum.js
Due: npm run lint:editorconfig && npm run lint:fs, npm run prettify, npm run lint:shared:js

books-12: + enum AppEnvironment
  shared/src/libs/enums/app-environment.enum.js
Due: npm run lint:editorconfig && npm run lint:fs, npm run prettify, npm run lint:shared:js

books-12: + export enums
  shared/src/libs/enums/enums.js
Due: npm run lint:editorconfig && npm run lint:fs, npm run prettify, npm run lint:shared:js

books-7: - margin in #main
  client/src/assets/css/common.scss
Due: npm run lint:editorconfig && npm run lint:fs, npm run prettify, npm run lint:client:css

books-7: * styles for home page
  client/src/pages/home/styles.module.scss
Due: npm run lint:editorconfig && npm run lint:fs, npm run prettify, npm run lint:client:css

books-7: * mixin overlay $alpha
  client/src/assets/css/mixins.scss
Due: npm run lint:editorconfig && npm run lint:fs, npm run prettify, npm run lint:client:css

books-7: * pageHeader html
  client/src/pages/home/home.jsx
Due: npm run lint:editorconfig && npm run lint:fs, npm run prettify, npm run lint:client:js

books-7: * home header bg
  client/src/assets/images/home-bg.jpg
  client/src/assets/images/page-header-bg.jpg
Due: npm run lint:editorconfig && npm run lint:fs
